#container {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px;
    justify-content: center;
    width: 600px;
}

.square {
    height: 120px;
    background-color: black;
    border: 5px solid white;
    flex-basis: 22%;
}